$theme-colors:   (
  "primary":    #1f2021,
  "secondary":  #6ebbd3,
  "info":       #e62d2d,
  "light":      #fff,
  "dark":       #000,
  "gray":       #cacaca,
);

@function theme-color($key: "primary") {
  @return map-get($theme-colors, $key);
}

$grid-gutter-width: 3rem;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px
);

$spacer: 1rem;

$spacers: (
  5: ($spacer * 2),
  6: ($spacer * 2.5),
  7: ($spacer * 3),
  8: ($spacer * 4.5)
);
