header
  div.d-flex.fd-column.align-items-stretch.container.gap-3-125.gap-sm-2
    div.d-flex.mt-2-5.mt-sm-2.gap-sm-1
      a(href="index.html")
        img.logo(src="images/sprite.svg#logo" alt="Коты")
      nav.d-flex.order-sm-2.width-sm-full
        ul.d-flex.nav-ul.fs-1-125.gap-5.gap-md-2.width-sm-full.gap-sm-0
          li 
            a.d-flex.justify-content-center.transition.link(href="") Main
          li 
            a.d-flex.justify-content-center.transition.link(href="") Gallery
          li 
            a.d-flex.justify-content-center.transition.link(href="") News
          li 
            a.d-flex.justify-content-center.transition.link(href="") Profile
      div.d-flex.fd-column.align-items-flex-end.gap-0-1875
        a.bold.fs-1-5.d-flex.justify-content-center.transition.link.fs-sm-1(href="tel:+544349000000") +544 3490 00000
        div.color-light.fs-1-125 Звони скорее!
    div.mb-4.bold.fs-2-375.color-light.mb-sm-2 Найдено 349 котов
